<div class="{{classPrefix}}">
  {{#if pageList}}
  {{#each pageList}}
    <a href="javascript:;" class="page-link{{#if cls}} {{cls}}{{/if}}{{#if active}} active{{/if}}" data-role="page-link" data-page="{{page}}"{{#if disabled}} disabled{{/if}}>{{text}}</a>
  {{/each}}
  <form>
    <input type="text" size="2" />
    <button>跳转</button>
  </form>
  {{/if}}
</div>
